
@font-face {
  font-family: 'duo';
  src: url('./assets/Duo-Licht.ttf');
}
@font-face {
  font-family: 'shadow';
  src: url('./assets/whitebold.ttf');
}
body {
  text-align: center;
  margin: 0 auto;
  background-image: url('./assets/texturedWhite.jpg');
}
th {
  text-align: center;
}
.name{
  font-family: 'duo';
  text-align: center;
  font-size: 65px;
  padding-top: 250px;
}
#typewriter p {
  font-family: 'duo';
  font-size: 25px;
}

.page {
  height: 100vh;
}
.icon {
  width: 70px;
  padding: 200px 10px;
}
.projectSelection {
  display: inline-block;
  padding: 0 20px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 40px 20px 0;
}
a{
  text-decoration: none;
  color: inherit;
}
a.hover {
  text-decoration: none;
}
#wrap {
  width: 100%;
  margin 0 auto;
  font-family: 'inconsolata';
  font-size: 40px;
}
#projectInfo {
  padding-top: 50px;
}
#left_col {
  width: 50%;
  float: left;
  padding-top: 80px;
  padding-left: 50px;
}
#right_col {
  width: 40%;
  float: right;
  padding-top: 20px;
}

#selfie {
  width: 350px;
  border: 2px black solid;
}
#frame {
  width: 600px;
}
